html {
  scroll-behavior: smooth;
  }

body {
  min-width: 890px;
  height: 100%;
  margin: 0;
  line-height: 20px;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  color: #000;
  box-sizing: border-box;
}

header {
  width: 890px;
  margin: 0 auto;
  height: 200px;
  border: 2px solid rgb(91, 184, 114);
  display: flex;
  box-sizing: border-box;
}

<!--.title {
  font-size: 30px;
  width: 100%;
  padding: 20px 10px 5px 60px;
}-->

main {
  display: flex;
  width: 890px;
  margin: 0 auto;
  border-collapse: collapse;
  box-sizing: border-box;
}

.contacts {
  box-sizing: border-box;
  width: 260px;
  padding: 20px 20px;
  padding-right: 2px;
  border: 2px solid rgb(86, 173, 93);
  border-top: none;
  background: rgb(166, 245, 166);
}

.contacts li {
  display: block;
}
.contacts a {
  color: black;
}

.contacts a:hover {
  color: rgb(85, 58, 58);
  font-size: 10px;
}

.cvone {
  display: flex;
  flex-direction: column;
}

nav {
  box-sizing: border-box;
  margin: 0px;
  width: 690px;
  padding: 1px;
  height: 40px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
    
}

nav li {
    display: inline-block;
    height: 100%;
    margin: 0px;
    width: 130px;
    padding: 0px;
    background-color: rgb(172, 209, 177);
    margin: 0px;
    padding-top: 0px;
}

nav li:hover {
    background-color: rgb(124, 177, 144);
    font-size: 17px;
}

nav a {
    display: inline-block;
    text-decoration: none
}

nav div {
    margin: 0px;
    width: 130px;
    height: 45px;
    padding-top: 3px;
    color: black;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
    
}

nav li {
    display: inline-block;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 130px;
    background-color: rgb(172, 209, 174);
    margin: 0px;
    padding-top: 0px;
}

nav li:hover {
    background-color: rgb(5, 145, 35);
    font-size: 17px;
}

nav a {
    display: inline-block;
    text-decoration: none
}

nav div {
    margin: 0px;
    width: 130px;
    height: 45px;
    padding-top: 3px;
    color: black;
}

.cvtwo {
  box-sizing: border-box;
  border: 2px solid rgb(216, 221, 218);
  border-left: none;
  margin-top: 0px;
  width: 692px;
  padding: 30px 70px 30px 50px;
  font-size: 14px;
}

.cvtwo h2 {
  font-size: 18px;
  display: block;
  background: rgb(240, 240, 240);
  position: relative;
  left: -30px;
  width: 632px;
  padding-left: 30px;
}

.cvtwo pre {
  font-size: 11px;
  line-height: 1.5;
  background: rgb(243, 247, 244);
  padding-left: 50px;
}

.cvtwo a {
  color: black;
}

footer {
  width: 890px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  box-sizing: border-box;
  background: rgb(191, 243, 195);
}

footer div {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;

}

footer a:hover {
  background: rgb(91, 173, 111);
}
